
.main{
    width: 90%;
    margin:0px auto;
    text-align: center;    
}

.twiter{
    max-width:  25%;
    min-width: 10%;
    margin-top: 10px;
    margin-left: 6%;    
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: auto;
    border: 1px solid black;
}
.twiter:hover{
    background-color: #00b8ec;
    color: #fff;

}
.insta{
    max-width:  25%;
    min-width: 10%;
    margin-top: 10px;
    margin-left: 6%;    
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: auto;
    border: 1px solid black;
}
.insta:hover{
    background-color: #e2306c;
    color: #fff;

}
.utube{
    max-width:  25%;
    min-width: 10%;
    margin-top: 10px;
    margin-left: 6%;    
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: auto;
    border: 1px solid black;
}
.utube:hover{
    background-color: #ff0000;
    color: #fff;
}
span{
    width: 150px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    color: aliceblue;
    display: inline-block;
    margin-bottom: 10px;
}
span:hover{
    background-color: #fff;
    color: #e2306c;

}
nav>span{
    
    text-align: center;
    background-color: #fff;
    color: black;
    margin-left: 6%;
   }
nav>span:hover{
    background-color: black;
    color: rgb(255, 255, 255);

}
p{
    margin-left: 10px;
    margin-right: 10px;
}
img{
    margin-top: 10px;
}
.osamsize{
    font-size: 100px;
}